.navigation {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $gray-two;
  border-bottom: 1px solid $gray-one;
  box-shadow: 0px 1px 5px 0px $gray-one;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;

  @media(min-width: $desktop) {
    justify-content: flex-end;
  }

  &__list {
    list-style-type: none;
    display: flex;
  }

  &__link {
    font-size: $font-paragraph;
    text-decoration: none;
    padding: 0.5rem;
    color: $gray-one;
    letter-spacing: 1px;
    font-weight: 300;
    transition: .3s;

    @media(min-width: $desktop) {
      &:hover {
        background-color: $gray-one;
        color: $gray-two;
      }
    }
  }
}