*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: $gray-one;

  @media(min-width: $desktop) {
    font-size: 22px;
  }
}

//utilities ===============================

.container {
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  @media(min-width: $desktop) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.bg-gray {
  // background-color: $gray-two;
  background-color: lighten($color: $gray-two, $amount: 8%);
}

.bg-blue {
  background-color: $blue-two;
  color: #fff;
}

.sectionHeight {
  min-height: 100vh;
  padding-top: 4rem;
  padding-bottom: 1rem;

  &--small {
    min-height: 50vh;
  }
}

.mail {
  font-size: $font-paragraph;
  color: $blue-one;
  text-decoration: none;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid $blue-one;
}

.header {
  font-size: $font-header;
  color: #000;
  padding-bottom: 1rem;
  border-bottom: 1px solid $gray-one;
}