*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

//utilities ===============================

.container {
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 0.5rem;

  @media(min-width: $desktop) {
    padding: 0 1rem;
  }
}

.sectionHeight {
  min-height: 100vh;
  padding-top: 2rem;
}

.mail {
  font-size: $font-paragraph;
  color: $blue-one;
  text-decoration: none;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid $blue-one;
}