.features {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem 0;

  @media(min-width: $mobile) {
    grid-template-columns: 1fr 1fr;
  }

  &__header {
    margin-bottom: 1rem;
    color: #000;

    h3 {
      font-size: 1.2rem;
    }

    &::before {
      content: '';
      display: block;
      width: 100px;
      height: 4px;
      background-color: $blue-one;
      border-radius: 5px;
      margin-bottom: 1rem;
    }
  }

  &__abilities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    font-size: 1rem;
    line-height: 160%;

    .fa {
      color: $blue-one;
      margin-right: 0.2rem;
    }

    @media(min-width: $mobile) {
      margin-top: 1rem;
    }
  }
}