$desktop: 1024px;
$mobile: 767px;
$mobile-small: 360px;
$paragraph-width: 667px;
$font-paragraph: 1rem;
$font-paragraph-small: 0.8rem;
$lineHeight-paragraph: 1.6rem;
$font-header: 1.4rem;
$lineHeight-header: 2rem;

$gray-one: #52606d;
$gray-two: #dbdcdd;
$blue-one: #0593fa;
$blue-two: #171f3f;